<template>
  <div>
    <div class="form-group">
      <BaseInput
        label="Имя"
        name="name"
        type="text"
        placeholder="Жасулан"
        v-model="userData.username"
      ></BaseInput>
    </div>
    <div class="form-group">
      <BaseInput
        label="Номер телефона"
        name="phone"
        type="text"
        placeholder="+7 ("
        v-model="userData.phone"
      ></BaseInput>
    </div>
    <div class="form-group">
      <BaseInput
        label="E-mail"
        name="email"
        type="email"
        placeholder="info@mail.com"
        v-model="userData.email"
      ></BaseInput>
    </div>
    <div class="form-group">
      <BaseInput label="Адрес" name="address" type="text"></BaseInput>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  computed: {
    ...mapState({
      userData: "userData",
    }),
  },
};
</script>

<style lang="scss" scoped>
.form-group {
  margin-bottom: 1.5rem;
}
a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #de293a;
  text-decoration: none;
}
</style>
