@import "node_modules/slick-carousel/slick/slick-theme.scss";
@import "node_modules/slick-carousel/slick/slick.scss";

#main-banner {
    .slick-slide img {
        width: 100%;
        border-radius: 10px;
    }
    .slick-prev,
    .slick-next {
        width: 77px;
        height: 77px;
        background: #ffffff;
        box-shadow: 0px 2px 10px rgba(109, 108, 113, 0.15);
        z-index: 1;
        border-radius: 50%;
    }
    .slick-prev:before,
    .slick-next:before {
        font-family: "Font Awesome 5 Pro";
        color: #b0b0b0;
        font-size: 30px;
    }
    .slick-prev:before {
        content: "\f053";
    }
    .slick-next:before {
        content: "\f054";
    }
    .slick-dots {
        bottom: -2.5rem;
    }
    .slick-dots li button {
        width: 16px;
        height: 16px;
        background: #f0f0f0;
        border-radius: 50%;
        transition: all 0.2s ease;
    }
    .slick-dots li.slick-active button {
        border: 5px solid #de293a;
        background: #fff;
    }
    .slick-dots li button:before {
        content: "";
    }
}
