<template>
  <div class="auth py-5">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-12">
          <h1>Личный кабинет</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <ul class="d-flex mb-5">
            <li>
              <router-link :to="{ name: 'login' }">Войти</router-link>
            </li>
            <li>
              <router-link :to="{ name: 'registration' }"
                >Регистрация</router-link
              >
            </li>
          </ul>
          <keep-alive>
            <router-view></router-view>
          </keep-alive>
        </div>
        <div class="offset-lg-7"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>

<style lang="scss" scoped>
.auth {
  background-image: url("/images/profile.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 100% 50%;

  h1 {
    font-family: Roboto;
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    color: #08050b;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      display: block;
      width: 100%;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
        font-family: Roboto;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        color: #08050b;
        border: none;
        border-bottom: 1px solid #eeedf1;
        transition: all 0.2s linear;
        background: #fff;
        height: 50px;
        outline: none;
        &:hover {
          text-decoration: none;
        }
        &.router-link-exact-active.router-link-active {
          border-bottom: 4px solid #fcda06;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .auth {
    background-image: none;
  }
}
</style>
