<template>
  <div>
    <h1>Выставьте адрес доставки</h1>
    <form @submit.prevent="createAddress">
      <div class="form-group">
        <BaseInput label="Адрес" name="address" type="text" v-model="userData.address"></BaseInput>
      </div>
      <div class="form-group d-flex flex-wrap justify-content-between">
        <BaseInput label="Квартира" name="apartment" type="number" v-model="userData.apartment"></BaseInput>
        <BaseInput label="Этаж" name="storey" type="number" v-model="userData.storey"></BaseInput>
      </div>
      <div class="form-group d-flex flex-wrap justify-content-between">
        <BaseInput label="Подъезд" name="porch" type="number" v-model="userData.porch"></BaseInput>
        <BaseInput label="Домофон" name="intercom" type="number" v-model="userData.intercom"></BaseInput>
      </div>
      <div class="form-group">
        <button type="submit">Сохранить</button>
      </div>
    </form>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {};
  },
  computed: {
    ...mapState({
      userData: "userData"
    })
  },
  methods: {
    createAddress(e) {
      let data = new FormData(e.target);
      data.append("status", 1);
      this.$store.dispatch("createAddress", data);
    }
  }
};
</script>

<style lang="scss" scoped>
form {
  max-width: 450px;
  margin-top: 2rem;
}
.form-group {
  margin-bottom: 1.5rem;
  position: relative;
}
.form-group.d-flex {
  label {
    max-width: 210px;
  }
}
button {
  border: none;
  width: 100%;
  height: 60px;
  background: #de293a;
  border-radius: 7px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 1px;
  &:disabled {
    background-color: #f8f8f8;
    color: #08050b;
  }
}
.add-address {
  font-size: 12px;
  font-family: "Roboto";
  color: white;
  line-height: 1.2;
  background-color: #007eff;
  max-width: 200px;
  width: 100%;
  height: 41px;
  border: none;
}
.remove-address {
  font-size: 12px;
  font-family: "Roboto";
  color: white;
  line-height: 1.2;
  border-radius: 10px;
  background-color: #ff2703;
  max-width: 200px;
  width: 100%;
  height: 41px;
  border: none;
}
@media (max-width: 576px) {
  .form-group.d-flex label {
    max-width: 150px;
  }
}
</style>
