<template>
  <div class="cart py-5">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-12">
          <h1>Корзина</h1>
        </div>
      </div>
      <div
        class="cart-item row align-items-center"
        v-for="(product, index) in productsInCart"
        :key="index"
        v-if="product.id"
      >
        <div class="col-lg-1 col-md-2 col-4">
          <img :src="product.image" />
        </div>
        <div class="col-lg-3 col-md-5 col-10">
          <h2 class="name">{{ product.name }}</h2>
          <p class="description">{{ product.description }}</p>
        </div>
        <div class="offset-lg-4"></div>
        <div class="col-lg-2 col-md-3 col-5">
          <div class="quantity">
            <button
              type="button"
              class="decrease"
              @click="
                product.quantity > 1
                  ? calculateTotalPrice($event, product.price)
                  : false;
                product.quantity > 1 ? product.quantity-- : false;
              "
            >-</button>
            <input disabled v-model="product.quantity" name="count" type="number" />
            <button
              type="button"
              class="increase"
              @click="
                calculateTotalPrice($event, product.price);
                product.quantity++;
              "
            >+</button>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-5">
          <p class="price">
            {{ (product.price * product.quantity).toLocaleString() }}
            ₸
          </p>
        </div>
      </div>
      <div class="row mt-5" v-if="totalPrice">
        <div class="col-lg-5 col-sm-7 col-10">
          <div
            class="form-group d-flex align-items-center justify-content-between border-top border-bottom"
          >
            <h4
              style="font-family: Roboto;
                      font-weight: 600;
                      font-size: 16px;
                      line-height: 40px;
                      margin-bottom: 0;
                      color: #08050B;"
            >
              {{
              productsInCartCount == 1 ?
              productsInCartCount + ' товар' :
              (productsInCartCount > 1 && productsInCartCount < 5 ?
              productsInCartCount + ' товара' :
              productsInCartCount + ' товаров')
              }}
            </h4>
            <p
              style="font-family: Roboto;
                      font-style: normal;
                      font-weight: normal;
                      font-size: 16px;
                      line-height: 40px;
                      margin-bottom: 0;
                      color: #08050B"
            >{{ totalPrice.toLocaleString() }} ₸</p>
          </div>
          <div class="form-group">
            <h2 class="total-price">Итого: {{ totalPrice.toLocaleString() }} ₸</h2>
          </div>
          <div class="form-group">
            <router-link :to="{ name: 'orderDelivery' }">Оформить заказ</router-link>
          </div>
        </div>
      </div>
      <div class="row mt-5" v-else>
        <div class="col-lg-12 d-flex justify-content-center">
          <h2>Ваша корзина пуста!</h2>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  computed: {
    ...mapState({
      productsInCartCount: "productsInCartCount",
      productsInCart: "productsInCart",
      totalPrice: "totalPrice"
    })
  },
  methods: {
    calculateTotalPrice(e, price) {
      if (e.target.classList.contains("decrease")) {
        this.$store.commit("DECREASE_TOTAL", { price: price, count: 1 });
      } else if (e.target.classList.contains("increase")) {
        this.$store.commit("INCREASE_TOTAL", { price: price, count: 1 });
      }
    }
  },
  created() {
    if (this.productsInCartCount) {
      this.$store.dispatch("fetchCartProducts");
    }
  }
};
</script>

<style lang="scss" scoped>
.cart {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    border: none;
    width: 100%;
    height: 60px;
    background: #de293a;
    border-radius: 7px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1px;
    max-width: 290px;
    text-decoration: none;
  }
  h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 0;
    line-height: 24px;
  }
  .cart-item {
    border-bottom: 1px solid #eeedf1;
    margin: 0;
    padding-top: 8px;
    max-width: 100%;
    overflow-x: scroll;
    flex-wrap: nowrap;
    img {
      width: 100%;
      object-fit: contain;
      width: 80px;
      height: 80px;
    }
    .name {
      font-family: "Roboto";
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #08050b;
      margin-bottom: 0;
    }
    .description {
      font-family: "Roboto";
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #b7b6bb;
      margin-bottom: 0;
    }
    .quantity {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: 35px;
      overflow: hidden;
      max-width: calc(35px * 3);
      button {
        width: 35px;
        height: 100%;
        background: #de293a;
        border-radius: 4px;
        font-weight: 200;
        border: none;
        font-size: 36px;
        line-height: 0;
        color: #fff;
        transition: all 0.15s ease;
        &:hover,
        &:focus,
        &:active {
          color: #d7d7d7;
          background: #f8f8f8;
          outline: none;
        }
      }
      input {
        font-family: "Roboto";
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #08050b;
        border: none;
        background-color: rgba(255, 255, 255, 0);
        width: 35px;
        text-align: center;
        height: 100%;
      }
    }
    .price {
      font-family: Roboto;
      font-weight: normal;
      font-size: 24px;
      line-height: 24px;
      color: #08050b;
      margin-bottom: 0;
    }
  }
  .total-price {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 24px;
    color: #08050b;
    margin-bottom: 0;
  }
}
</style>
