<template>
  <label v-if="label">
    {{ label }}
    <input :value="value" @input="updateValue" v-bind="$attrs" v-on="listeners" />
  </label>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    id: {
      type: String,
      default: ""
    },
    label: {
      type: String,
      default: ""
    },
    value: {
      type: [String, Number]
    }
  },
  computed: {
    listeners() {
      return {
        ...this.$listeners,
        input: this.updateValue
      };
    }
  },
  methods: {
    updateValue(e) {
      this.$emit("input", e.target.value);
    }
  }
};
</script>

<style lang="scss" scoped>
label {
  font-family: Roboto;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #08050b;
  display: block;
  text-indent: 1rem;
  margin: 0;
}
input {
  background: #f8f8f8;
  border-radius: 7px;
  border: none;
  width: 100%;
  height: 60px;
  padding-left: 1rem;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #08050b;
  &::placeholder {
    color: #b7b6bb;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: #b7b6bb;
  }

  &::-ms-input-placeholder {
    color: #b7b6bb;
  }
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.form-group--error {
  input {
    box-shadow: 0 0 0 0.2rem rgba(222, 41, 58, 0.4);
  }
}
</style>
