<template>
  <div style="display: contents;">
    <!-- <div class="form-group">
      <BaseInput
        label="Номер карты"
        name="card-number"
        type="text"
        v-mask="'#### #### #### ####'"
        placeholder="1234 1234 1234 1234"
      ></BaseInput>
    </div>
    <div class="form-group d-flex flex-wrap justify-content-between">
      <BaseInput
        label="мм/гг"
        name="expiration-date"
        type="text"
        placeholder="01/19"
        v-mask="'##/##'"
      ></BaseInput>
      <BaseInput
        label="CVV-код"
        name="cvv-code"
        type="text"
        placeholder="111"
        v-mask="'###'"
      ></BaseInput>
    </div>
    <div class="form-group">
      <BaseInput
        label="Имя держателя"
        name="holder-name"
        type="text"
      ></BaseInput>
    </div>-->
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.form-group {
  margin-bottom: 1.5rem;
}
.form-group.d-flex {
  label {
    max-width: 210px;
  }
}
a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #de293a;
  text-decoration: none;
}
#delivery-address {
  height: 226px;
}
@media (max-width: 576px) {
  .form-group.d-flex {
    label {
      max-width: 150px;
    }
  }
}
</style>
