.footer {
  background-color: #f8f8f8;
  .logotype {
    width: auto;
    object-fit: contain;
    max-width: 100%;
  }
  .title {
    @include text(Roboto, 14px, 20px, 400, #b0b0b0);
    margin-bottom: 0;
    max-width: 180px;
  }
  h2 {
    @include text(Roboto, 16px, 36px, 600, #08050b);
    margin-bottom: 0;
  }
  ul:not(.apps):not(.brands) {
    list-style: none;
    padding-left: 0;
    li {
      a {
        @include text(Roboto, 14px, 36px, 500, #08050b);
        text-decoration: none;
      }
    }
  }
  .copyright {
    @include text(Roboto, 14px, 24px, 600, #08050b);
    margin-bottom: 0;
  }
  .props {
    @include text(Roboto, 12px, 20px, 400, #858585);
    margin-bottom: 0;
  }
  .brands {
    @include flex(row, wrap, center, space-between);
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    height: 100%;
    li {
      a {
        font-size: 25px;
        color: #de293a;
        transition: all 0.3s ease;
        &:hover {
          filter: grayscale(0.3);
        }
      }
    }
  }
  .apps {
    @include flex(row, wrap, center, space-between);
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    height: 100%;
    li {
      a {
        img {
          object-fit: contain;
        }
      }
    }
  }
}
