*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: inherit;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
  padding-right: 0.5rem;
}

*::-webkit-scrollbar-thumb {
  background-color: #de293a;
  outline: 1px solid #de293a;
  border-radius: 14px;
  transition: all 0.3s ease;
}
.header {
  box-shadow: 0px 4px 20px rgba(109, 108, 113, 0.1);
  .location {
    @include flex(row, nowrap, stretch, flex-start);
    .fa-map-marker-alt {
      font-size: 20px;
      color: #de293a;
    }
    p {
      @include text(Roboto, 14px, 24px, 500, #08050b);
      margin-bottom: 0;
      margin-left: 0.75rem;
    }
  }
  .apps {
    @include flex(row, wrap, center, space-between);
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    li {
      a {
        img {
          object-fit: contain;
        }
      }
    }
  }
  .main-nav {
    height: 100%;
    ul {
      height: 100%;
      @include flex(row, wrap, center, space-between);
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
    }
    a {
      @include text(Roboto, 14px, 24px, 400, #08050b);
      text-decoration: none;
      position: relative;
    }
  }
  .logotype {
    max-width: 100%;
    width: auto;
    object-fit: contain;
  }
  .title {
    @include text(Roboto, 14px, 20px, 400, #08050b);
    margin-bottom: 0;
    max-width: 180px;
  }
  .contact-wall {
    @include flex(column, nowrap, flex-end, initial);
    h3 {
      p {
        margin-bottom: 0;
        font-size: 16px;
      }
    }
    h3,
    a {
      @include text(Roboto, 18px, 24px, 600, #08050b);
      text-decoration: none;
      margin-bottom: 0;
      position: relative;

      &::before {
        font-family: "Font Awesome 5 Pro";
        position: absolute;
        right: 110%;
        font-weight: 300;
        top: 0;
        font-size: 30px;
        color: #de293a;
      }
    }
    a:before {
      content: "\f3cf";
    }
    h3:before {
      content: "\f3c5";
    }
    span {
      @include text(Roboto, 14px, 24px, 600, #08050b);
    }
  }
  .categories {
    ul {
      @include flex(row, wrap, center, space-between);
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
    }
    a {
      font-family: Roboto;
      font-size: 22px;
      line-height: 16px;
      font-weight: 500;
      color: #08050b;
      display: block;
      text-decoration: none;
      padding: 1.3rem 0;
      position: relative;
      &.active {
        &::before {
          content: "";
          width: 100%;
          left: 0;
          right: 0;
        }
      }
      &::before {
        content: "";
        position: absolute;
        top: calc(100% - 4px);
        left: auto;
        right: 0;
        height: 4px;
        width: 0;
        background: #fcda06;
        z-index: -1;
        transition: all 0.3s ease;
      }
      &:not(.active):hover::before {
        content: "";
        width: 100%;
        left: 0;
        right: 0;
      }
    }
  }
  .auth-link {
    @include flex(row, nowrap, center, space-evenly);
    @include text(Roboto, 16px, 24px, 600, #08050b);
    height: 46px;
    background: #f8f8f8;
    border-radius: 4px;
    text-decoration: none;
    width: 100%;
    i {
      font-size: 21px;
    }
  }
  .hc-nav-trigger {
    position: relative;
    left: 0;
    top: 0;
  }
}
@media (max-width: 576px) {
  .header .apps {
    display: none;
  }
  .header .contact-wall h3:before,
  .header .contact-wall a:before {
    content: "";
  }
  .header .contact-wall h3,
  .header .contact-wall a {
    font-size: 13px;
  }
}
