<template>
  <div v-if="mobile">
    <div v-if="OS == 'Android'" class="smartbanner smartbanner-android">
      <div class="container border-bottom">
        <div class="row py-3">
          <div class="col-1 d-flex align-items-center">
            <i
              class="smartbanner-close fal fa-times"
              @click="mobile = false"
            ></i>
          </div>
          <div class="col-5">
            <img src="/images/googleplay.png" />
          </div>
          <div class="offset-1"></div>
          <div class="col-4 d-flex align-items-center justify-content-center">
            <a :href="androidsource" target="_blank">Скачать</a>
          </div>
        </div>
      </div>
    </div>
    <div v-else-if="OS == 'iOS'" class="smartbanner smartbanner-ios">
      <div class="container">
        <div class="row">
          <div class="col-1 d-flex align-items-center">
            <i
              class="smartbanner-close fal fa-times"
              @click="mobile = false"
            ></i>
          </div>
          <div class="col-5">
            <img src="/images/appstore.png" />
          </div>
          <div class="offset-2"></div>
          <div class="col-4 d-flex align-items-center justify-content-center">
            <a :href="appsource" target="_blank">Скачать</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      mobile: false,
      OS: "",
    };
  },
  props: {
    appsource: {
      type: [String, Number],
    },
    androidsource: {
      type: [String, Number],
    },
  },
  methods: {
    getMobileOperatingSystem() {
      let userAgent = navigator.userAgent || navigator.vendor || window.opera;

      // Windows Phone must come first because its UA also contains "Android"
      if (/windows phone/i.test(userAgent)) {
        return "Windows Phone";
      }

      if (/android/i.test(userAgent)) {
        return "Android";
      }

      // iOS detection from: http://stackoverflow.com/a/9039885/177710
      if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
        return "iOS";
      }

      return "unknown";
    },
  },
  created() {
    if (window.matchMedia("(max-width: 576px)").matches) {
      this.mobile = true;
      this.OS = this.getMobileOperatingSystem();
    }
  },
};
</script>

<style lang="scss" scoped>
.smartbanner {
  img {
    width: 100%;
    max-width: 119px;
    object-fit: contain;
  }
  a {
    background: #de293a;
    border: 2px solid #de293a;
    box-sizing: border-box;
    border-radius: 7px;
    width: 100%;
    font-family: Roboto;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    height: 30px;
    outline: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
</style>
