<template>
  <a v-if="!isAuth" class="auth-link" href="/authentication/login">
    <i class="fal fa-user"></i>
    Войти
  </a>
  <a v-else class="auth-link" href="/profile">
    <i class="fal fa-user"></i>
    {{ userData.username }}
  </a>
</template>

<script>
import { mapState } from "vuex";
import { AuthService } from "../services/service.js";
export default {
  computed: {
    ...mapState({
      isAuth: "isAuth",
      userData: "userData"
    })
  },
  created() {
    this.$store.dispatch("authCheck");
  }
};
</script>

<style lang="scss" scoped>
</style>
