<template>
  <a href="/order" class="product-count" :data-count="productsInCartCount">
    <i class="fal fa-shopping-bag"></i>
  </a>
</template>

<script>
import { mapState } from "vuex";
export default {
  computed: {
    ...mapState({
      productsInCartCount: "productsInCartCount",
    }),
  },
  created() {
    this.$store.commit("SET_PRODUCTS_IN_BASKET", {
      products: this.$localStorage.attributesInCart,
      count: this.$localStorage.attributesInCart.length,
      total_price: null,
    });
  },
};
</script>

<style lang="scss" scoped>
.product-count {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(109, 108, 113, 0.1);
  border-radius: 50%;
  position: relative;
  text-decoration: none;
  i {
    color: #000;
    font-size: 40px;
  }
  &:before {
    content: attr(data-count);
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    color: #ffffff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background: #de293a;
    box-shadow: 0px 4px 8px rgba(222, 41, 58, 0.3);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
  }
}
</style>
