<template>
  <div class="form-group">
    <BaseInput label="E-mail" name="login" type="email" placeholder="info@mail.com"></BaseInput>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
</style>