<template>
  <div class="form-group">
    <BaseInput
      label="Номер телефона"
      name="login"
      type="tel"
      placeholder="+7 ("
      v-mask="'+7 (###) ### ####'"
    ></BaseInput>
  </div>
</template>

<script>
export default {
  methods: {}
};
</script>

<style lang="scss" scoped>
</style>